<div class="footer full-width">
    <div class="full-width container-fluid d-flex justify-content-between align-items-center h-48" *ngIf="!isAuthPage">
            <em class="pi pi-home clickable" style="font-size: 1.5rem;" (click)="navigateTo('/home')"></em>
            <em class="pi pi-plus-circle clickable" style="font-size: 1.5rem;" (click)="openModal()"></em>
            <em class="pi pi-search clickable" style="font-size: 1.5rem;" (click)="navigateTo('/search')"></em>
            <div class="circle-image clickable d-flex justify-content-center align-items-center" (click)="navigateToProfile()"> <em class="pi pi-user"></em> </div>
    </div>
</div>
<app-add-post-modal *ngIf="isAddPostModalOpen"[isModalOpen]="isAddPostModalOpen" (closeModalEmitter)="closeAddPostModal()"></app-add-post-modal>
