<app-modal [isOpen]="isModalOpen" [title]="''" (closeModalEmitter)="closeModalEmitter.emit()">

  <div>
  <ng-container *ngIf="!isImageSelected; else imageSelected">
    <app-image-editor (imageEmitter)="useImage($event)"></app-image-editor>
  </ng-container>
  <ng-template #imageSelected>
    <div>
      <img class="d-block user-select-none" width="600px" height="400px" [src]="imageSrc"
        aria-label="Placeholder: Image " focusable="false" />
    </div>
  </ng-template>
  </div>

  <form class="d-flex flex-column" [formGroup]="postForm" style="width: 600px;">

    <div class="form-group">
      <label class="form-label mt-4">Description</label>
      <input type="text" class="form-control" formControlName="description" placeholder="a description">
    </div>
    <button type="submit" class="btn btn-primary m-2 align-self-center d-flex" [disabled]="postForm.invalid || isLoading || !isImageSelected" (click)="savePost()">
      <span class="loader" *ngIf="isLoading"></span>
      Add Post
    </button>

  </form>
</app-modal>