
<div class="overflow-auto full-height full-width ">
  <div class="d-flex flex-column full-height ">
  <ng-container *ngIf="postList.length > 0; else noPosts">
    <ng-container *ngFor="let post of postList">
      <app-post class="align-self-center" [postResponse]="post"></app-post>
    </ng-container>
  </ng-container>
  
  <ng-template #noPosts>
    <div class=" full-width  full-height  d-flex justify-content-center">
      <span class="fs-3 text-color-black align-self-center">No posts to show</span>
    </div>
  </ng-template>
  </div>
</div>
