<div *ngIf="repositoryResponse">
  <div class="card mb-3 w-500">
    <div class="card-header d-flex justify-content-between ">

      <div>
        <span>
          {{repositoryResponse.repository!.title}}
        </span>
      </div>


      <span class="text-muted align-self-center pi "
        [ngClass]="{'pi-globe': repositoryResponse.repository!.accessModifier == accessModifiers.Public, 'pi-lock':repositoryResponse.repository!.accessModifier == accessModifiers.Private}"></span>
    </div>
    <img *ngIf="repositoryResponse.imageURL != null" [src]="urlUtil.getFullUrl(repositoryResponse!.imageURL!)" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image "
      focusable="false" (click)="regirectToRepo()"/>
    <img *ngIf="repositoryResponse.imageURL == null" src="../../../assets/bg.jpg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image "
      focusable="false" (click)="regirectToRepo()"/>
    <div class="card-footer text-muted">
      <div class="d-flex justify-content-between">
        <span class="pi pi-users" (click)="openModal()" [ngClass]="{'clickable':  repositoryResponse.repository?.ownerId ===  appUserId}">{{repositoryResponse.numberOfUsers}}</span>
        <span class="pi pi-file-o">{{repositoryResponse.numberOfPosts}}</span>
      </div>
    </div>
  </div>
  <app-list-edit-repo-users *ngIf="isModalOpen && repositoryResponse.repository?.ownerId ===  appUserId"    [ownerId]="repositoryResponse.repository?.ownerId!" (closeModalEmitter)="closeModal()" [isModalOpen]="isModalOpen && repositoryResponse.repository?.ownerId ===  appUserId" [repoId]="repositoryResponse.repository!.id!"
  (userNumberUpdateEmitter) = "updateUserNumber($event)"></app-list-edit-repo-users>

</div>