<div class="container-fluid" >
  <div class="container-fluid d-flex justify-content-center" *ngIf="isLoading">
    <div class="loader black-loader h-50px w-50px"></div>
  </div>
  <div *ngIf="!isLoading" class="container-fluid d-flex flex-row justify-content-around flex-wrap overflow-auto height-85vh">
    <div class="col-3 m-2" *ngFor="let postResponse of postResponses">
      <app-post [postResponse]="postResponse">
      </app-post>
    </div>
  </div>

  <button class="btn btn-primary sticky-button-bottom-right" (click)="openModal()">Add Post</button>
</div>
<app-add-post-modal [isModalOpen]="isModalOpen" (postResponseEmitter)="addToTheList($event)"
  (closeModalEmitter)="closeModal()">
</app-add-post-modal>
<app-footer></app-footer>