<div class="d-flex justify-content-center align-items-center page-content">
  <div class="d-flex flex-column">
    <form class="form-group" [formGroup]="form">

      <fieldset class="m-1">
        <label class="col-sm-2 col-form-label">New password</label>
        <input type="password" placeholder="password" class="form-control" formControlName="password" [ngClass]="{'is-valid': !form.controls['password'].invalid, 'is-invalid': form.controls['password'].invalid && !form.controls['password'].untouched}">
        <div *ngIf="form.controls['password'].errors?.['required']" class="invalid-feedback">Value is requierd</div>
      </fieldset>

      <fieldset class="m-1">
        <label class=" col-form-label">Confirm new password</label>
        <input type="password" placeholder="passwordConfirm" class="form-control" formControlName="passwordConfirm" [ngClass]="{'is-valid': !form.controls['passwordConfirm'].invalid, 'is-invalid': form.controls['passwordConfirm'].invalid && !form.controls['passwordConfirm'].untouched}">
        <div *ngIf="form.controls['passwordConfirm'].errors?.['required']" class="invalid-feedback">Value is requierd</div>
        <div *ngIf="form.controls['passwordConfirm'].errors?.['matchValues']" class="invalid-feedback">Passwords are not the same</div>
      </fieldset>
    
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary d-flex" [disabled]="form.invalid || isLoading"  (click)="submit()"><span *ngIf="isLoading" class="loader"></span> Change password </button> 
      </div>
    </form>
  </div>
</div>
