<!-- <div class="container-fluid">
  <div class="container-fluid d-flex justify-content-center" *ngIf="isLoadingUser || isLoadingPosts">
    <div class="loader black-loader h-50px w-50px"></div>
  </div>
  <div *ngIf="!isLoadingPosts && !isLoadingUser" >
    <div class="container-fluid d-flex flex-column">
      <div class="d-flex flex-column">
        <h5>{{userData?.email}}</h5>
        <h5>{{userData?.userName}}</h5>
      </div>
      <div class="container-fluid d-flex flex-row justify-content-around flex-wrap overflow-auto height-85vh">
        <div class="col-3 m-2" *ngFor="let postResponse of postResponses">
          <app-post [postResponse]="postResponse">
          </app-post>
        </div>
      </div>
    </div>

  </div> -->