<div class="d-flex justify-content-center align-items-center page-content">
  <div class="d-flex flex-column">
    <form class="form-group pb-1" [formGroup]="form">
      <fieldset class="m-1">
        <label for="email">Please enter your email address</label>
        <input type="email" placeholder="email" class="form-control pt-1" formControlName="email"
          [ngClass]="{'is-valid': !form.controls['email'].invalid, 'is-invalid': form.controls['email'].invalid && !form.controls['email'].untouched}">
        <div *ngIf="form.controls['email'].errors?.['email']" class="invalid-feedback">Not an email</div>
        <div *ngIf="form.controls['email'].errors?.['required']" class="invalid-feedback">Value is requierd</div>
      </fieldset>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary d-flex" [disabled]="form.invalid || isLoading"
          (click)="submit()"><span *ngIf="isLoading" class="loader"></span> Send email</button>
      </div>
    </form>
  </div>
</div>